<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array</key>
	<string>[
  [
    &quot; 总体&quot;,
    &quot;&quot;,
    &quot; 总体&quot;,
    &quot;112634.8&quot;,
    &quot;99919.0&quot;,
    235660.0,
    &quot;42.4%&quot;,
    &quot;-12.4%&quot;
  ],
  [
    &quot;加工部 总体&quot;,
    &quot;&quot;,
    &quot;加工部 总体&quot;,
    &quot;8914.1&quot;,
    &quot;6219.6&quot;,
    15735.2,
    &quot;39.5%&quot;,
    &quot;-15.3%&quot;
  ],
  [
    &quot;加工&quot;,
    &quot;&quot;,
    &quot;加工&quot;,
    &quot;8761.1&quot;,
    &quot;6052.6&quot;,
    15526.8,
    &quot;39.0%&quot;,
    &quot;-6.2%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;加工&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;297.5&quot;,
    878.1,
    &quot;33.9%&quot;,
    &quot;-11.3%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;加工&quot;,
    &quot;北京&quot;,
    &quot;4804.4&quot;,
    &quot;2049.2&quot;,
    4806.1,
    &quot;42.6%&quot;,
    &quot;-2.5%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;加工&quot;,
    &quot;华东&quot;,
    &quot;3484.7&quot;,
    &quot;1459.0&quot;,
    4085.3,
    &quot;35.7%&quot;,
    &quot;-9.4%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;加工&quot;,
    &quot;广东&quot;,
    &quot;472.0&quot;,
    &quot;206.4&quot;,
    531.3,
    &quot;38.8%&quot;,
    &quot;-6.3%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;加工&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;2040.5&quot;,
    5226.0,
    &quot;39.0%&quot;,
    &quot;-6.1%&quot;
  ],
  [
    &quot;餐饮&quot;,
    &quot;&quot;,
    &quot;餐饮&quot;,
    &quot;153.0&quot;,
    &quot;167.0&quot;,
    208.4,
    &quot;80.1%&quot;,
    &quot;35.0%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;餐饮&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;0.0&quot;,
    0.0,
    &quot;100.0%&quot;,
    &quot;100.0%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;餐饮&quot;,
    &quot;北京&quot;,
    &quot;0.0&quot;,
    &quot;0.8&quot;,
    0.0,
    &quot;100.0%&quot;,
    &quot;100.0%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;餐饮&quot;,
    &quot;华东&quot;,
    &quot;60.4&quot;,
    &quot;36.3&quot;,
    41.6,
    &quot;87.4%&quot;,
    &quot;42.2%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;餐饮&quot;,
    &quot;广东&quot;,
    &quot;92.6&quot;,
    &quot;53.4&quot;,
    108.0,
    &quot;49.5%&quot;,
    &quot;4.3%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;餐饮&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;76.5&quot;,
    58.8,
    &quot;130.1%&quot;,
    &quot;84.9%&quot;
  ],
  [
    &quot;生鲜部 总体&quot;,
    &quot;&quot;,
    &quot;生鲜部 总体&quot;,
    &quot;50960.9&quot;,
    &quot;43065.6&quot;,
    97767.5,
    &quot;44.0%&quot;,
    &quot;-10.8%&quot;
  ],
  [
    &quot;干货&quot;,
    &quot;&quot;,
    &quot;干货&quot;,
    &quot;8900.7&quot;,
    &quot;8025.0&quot;,
    20710.3,
    &quot;38.7%&quot;,
    &quot;-6.4%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;干货&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;244.4&quot;,
    797.1,
    &quot;30.7%&quot;,
    &quot;-14.5%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;干货&quot;,
    &quot;北京&quot;,
    &quot;3997.7&quot;,
    &quot;1897.5&quot;,
    4593.3,
    &quot;41.3%&quot;,
    &quot;-3.9%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;干货&quot;,
    &quot;华东&quot;,
    &quot;4230.4&quot;,
    &quot;1928.3&quot;,
    5202.6,
    &quot;37.1%&quot;,
    &quot;-8.1%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;干货&quot;,
    &quot;广东&quot;,
    &quot;672.7&quot;,
    &quot;302.2&quot;,
    770.2,
    &quot;39.2%&quot;,
    &quot;-5.9%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;干货&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;3652.6&quot;,
    9347.1,
    &quot;39.1%&quot;,
    &quot;-6.1%&quot;
  ],
  [
    &quot;蔬果&quot;,
    &quot;&quot;,
    &quot;蔬果&quot;,
    &quot;24569.3&quot;,
    &quot;20641.6&quot;,
    41135.1,
    &quot;50.2%&quot;,
    &quot;5.0%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;蔬果&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;613.4&quot;,
    1723.4,
    &quot;35.6%&quot;,
    &quot;-9.6%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;蔬果&quot;,
    &quot;北京&quot;,
    &quot;11174.0&quot;,
    &quot;5596.3&quot;,
    11003.8,
    &quot;50.9%&quot;,
    &quot;5.7%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;蔬果&quot;,
    &quot;华东&quot;,
    &quot;11798.7&quot;,
    &quot;5822.5&quot;,
    12074.4,
    &quot;48.2%&quot;,
    &quot;3.1%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;蔬果&quot;,
    &quot;广东&quot;,
    &quot;1596.5&quot;,
    &quot;792.7&quot;,
    1624.8,
    &quot;48.8%&quot;,
    &quot;3.6%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;蔬果&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;7816.7&quot;,
    14708.7,
    &quot;53.1%&quot;,
    &quot;8.0%&quot;
  ],
  [
    &quot;肉禽水产&quot;,
    &quot;&quot;,
    &quot;肉禽水产&quot;,
    &quot;17490.9&quot;,
    &quot;14399.0&quot;,
    35922.1,
    &quot;40.1%&quot;,
    &quot;-5.1%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;肉禽水产&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;438.8&quot;,
    1239.9,
    &quot;35.4%&quot;,
    &quot;-9.8%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;肉禽水产&quot;,
    &quot;北京&quot;,
    &quot;8594.9&quot;,
    &quot;3839.3&quot;,
    9613.8,
    &quot;39.9%&quot;,
    &quot;-5.2%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;肉禽水产&quot;,
    &quot;华东&quot;,
    &quot;7816.8&quot;,
    &quot;3565.4&quot;,
    8578.7,
    &quot;41.6%&quot;,
    &quot;-3.6%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;肉禽水产&quot;,
    &quot;广东&quot;,
    &quot;1079.2&quot;,
    &quot;496.7&quot;,
    1206.9,
    &quot;41.2%&quot;,
    &quot;-4.0%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;肉禽水产&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;6058.8&quot;,
    15282.8,
    &quot;39.6%&quot;,
    &quot;-5.5%&quot;
  ],
  [
    &quot;服装 总体&quot;,
    &quot;&quot;,
    &quot;服装 总体&quot;,
    &quot;0.0&quot;,
    &quot;2807.8&quot;,
    7227.9,
    &quot;38.8%&quot;,
    &quot;-16.0%&quot;
  ],
  [
    &quot;男女装&quot;,
    &quot;&quot;,
    &quot;男女装&quot;,
    &quot;0.0&quot;,
    &quot;2807.8&quot;,
    7227.9,
    &quot;38.8%&quot;,
    &quot;-6.3%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;男女装&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;0.0&quot;,
    174.7,
    &quot;0.0%&quot;,
    &quot;-45.2%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;男女装&quot;,
    &quot;北京&quot;,
    &quot;0.0&quot;,
    &quot;0.0&quot;,
    590.3,
    &quot;0.0%&quot;,
    &quot;0.0%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;男女装&quot;,
    &quot;华东&quot;,
    &quot;0.0&quot;,
    &quot;0.0&quot;,
    0.0,
    &quot;100.0%&quot;,
    &quot;100.0%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;男女装&quot;,
    &quot;广东&quot;,
    &quot;0.0&quot;,
    &quot;0.0&quot;,
    0.0,
    &quot;100.0%&quot;,
    &quot;100.0%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;男女装&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;2807.8&quot;,
    6462.9,
    &quot;43.4%&quot;,
    &quot;-1.7%&quot;
  ],
  [
    &quot;食品用品部 总体&quot;,
    &quot;&quot;,
    &quot;食品用品部 总体&quot;,
    &quot;52759.7&quot;,
    &quot;47826.0&quot;,
    114929.5,
    &quot;41.6%&quot;,
    &quot;-13.2%&quot;
  ],
  [
    &quot;烟酒饮料&quot;,
    &quot;&quot;,
    &quot;烟酒饮料&quot;,
    &quot;7634.7&quot;,
    &quot;6507.3&quot;,
    15767.2,
    &quot;41.3%&quot;,
    &quot;-3.9%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;烟酒饮料&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;268.8&quot;,
    782.0,
    &quot;34.4%&quot;,
    &quot;-10.8%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;烟酒饮料&quot;,
    &quot;北京&quot;,
    &quot;4110.8&quot;,
    &quot;1839.0&quot;,
    4016.5,
    &quot;45.8%&quot;,
    &quot;0.6%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;烟酒饮料&quot;,
    &quot;华东&quot;,
    &quot;2955.1&quot;,
    &quot;1389.2&quot;,
    3152.0,
    &quot;44.1%&quot;,
    &quot;-1.1%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;烟酒饮料&quot;,
    &quot;广东&quot;,
    &quot;568.8&quot;,
    &quot;261.3&quot;,
    556.9,
    &quot;46.9%&quot;,
    &quot;1.8%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;烟酒饮料&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;2749.1&quot;,
    7259.8,
    &quot;37.9%&quot;,
    &quot;-7.3%&quot;
  ],
  [
    &quot;休闲食品&quot;,
    &quot;&quot;,
    &quot;休闲食品&quot;,
    &quot;7573.5&quot;,
    &quot;6198.8&quot;,
    16632.4,
    &quot;37.3%&quot;,
    &quot;-7.9%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;休闲食品&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;244.3&quot;,
    661.6,
    &quot;36.9%&quot;,
    &quot;-8.2%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;休闲食品&quot;,
    &quot;北京&quot;,
    &quot;3565.9&quot;,
    &quot;1604.8&quot;,
    3692.6,
    &quot;43.5%&quot;,
    &quot;-1.7%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;休闲食品&quot;,
    &quot;华东&quot;,
    &quot;3441.1&quot;,
    &quot;1413.7&quot;,
    3960.9,
    &quot;35.7%&quot;,
    &quot;-9.5%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;休闲食品&quot;,
    &quot;广东&quot;,
    &quot;566.5&quot;,
    &quot;244.3&quot;,
    662.2,
    &quot;36.9%&quot;,
    &quot;-8.3%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;休闲食品&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;2691.8&quot;,
    7655.1,
    &quot;35.2%&quot;,
    &quot;-10.0%&quot;
  ],
  [
    &quot;干性杂货日配&quot;,
    &quot;&quot;,
    &quot;干性杂货日配&quot;,
    &quot;21964.3&quot;,
    &quot;19210.3&quot;,
    43616.0,
    &quot;44.0%&quot;,
    &quot;-1.1%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;干性杂货日配&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;901.2&quot;,
    2148.4,
    &quot;41.9%&quot;,
    &quot;-3.2%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;干性杂货日配&quot;,
    &quot;北京&quot;,
    &quot;11902.0&quot;,
    &quot;5526.1&quot;,
    11951.6,
    &quot;46.2%&quot;,
    &quot;1.1%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;干性杂货日配&quot;,
    &quot;华东&quot;,
    &quot;8588.3&quot;,
    &quot;3963.0&quot;,
    9280.9,
    &quot;42.7%&quot;,
    &quot;-2.5%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;干性杂货日配&quot;,
    &quot;广东&quot;,
    &quot;1474.1&quot;,
    &quot;682.7&quot;,
    1587.2,
    &quot;43.0%&quot;,
    &quot;-2.2%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;干性杂货日配&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;8137.3&quot;,
    18647.8,
    &quot;43.6%&quot;,
    &quot;-1.5%&quot;
  ],
  [
    &quot;清洁用品&quot;,
    &quot;&quot;,
    &quot;清洁用品&quot;,
    &quot;10062.6&quot;,
    &quot;10285.3&quot;,
    24485.4,
    &quot;42.0%&quot;,
    &quot;-3.2%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;清洁用品&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;358.4&quot;,
    972.0,
    &quot;36.9%&quot;,
    &quot;-8.3%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;清洁用品&quot;,
    &quot;北京&quot;,
    &quot;4639.0&quot;,
    &quot;2217.3&quot;,
    5100.7,
    &quot;43.5%&quot;,
    &quot;-1.7%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;清洁用品&quot;,
    &quot;华东&quot;,
    &quot;4428.9&quot;,
    &quot;2194.0&quot;,
    5322.8,
    &quot;41.2%&quot;,
    &quot;-3.9%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;清洁用品&quot;,
    &quot;广东&quot;,
    &quot;994.7&quot;,
    &quot;463.0&quot;,
    1090.4,
    &quot;42.5%&quot;,
    &quot;-2.7%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;清洁用品&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;5052.6&quot;,
    11999.5,
    &quot;42.1%&quot;,
    &quot;-3.1%&quot;
  ],
  [
    &quot;家用文体家电&quot;,
    &quot;&quot;,
    &quot;家用文体家电&quot;,
    &quot;4107.8&quot;,
    &quot;4017.3&quot;,
    10911.9,
    &quot;36.8%&quot;,
    &quot;-8.3%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;家用文体家电&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;113.8&quot;,
    300.0,
    &quot;37.9%&quot;,
    &quot;-7.2%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;家用文体家电&quot;,
    &quot;北京&quot;,
    &quot;1913.6&quot;,
    &quot;842.7&quot;,
    2040.3,
    &quot;41.3%&quot;,
    &quot;-3.9%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;家用文体家电&quot;,
    &quot;华东&quot;,
    &quot;1848.8&quot;,
    &quot;853.4&quot;,
    2246.3,
    &quot;38.0%&quot;,
    &quot;-7.2%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;家用文体家电&quot;,
    &quot;广东&quot;,
    &quot;345.3&quot;,
    &quot;159.0&quot;,
    407.8,
    &quot;39.0%&quot;,
    &quot;-6.2%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;家用文体家电&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;2048.4&quot;,
    5917.5,
    &quot;34.6%&quot;,
    &quot;-10.5%&quot;
  ],
  [
    &quot;家居生活馆&quot;,
    &quot;&quot;,
    &quot;家居生活馆&quot;,
    &quot;1416.9&quot;,
    &quot;1606.9&quot;,
    3516.7,
    &quot;45.7%&quot;,
    &quot;0.5%&quot;
  ],
  [
    &quot;东北&quot;,
    &quot;家居生活馆&quot;,
    &quot;东北&quot;,
    &quot;0.0&quot;,
    &quot;27.1&quot;,
    80.5,
    &quot;33.7%&quot;,
    &quot;-11.5%&quot;
  ],
  [
    &quot;北京&quot;,
    &quot;家居生活馆&quot;,
    &quot;北京&quot;,
    &quot;668.0&quot;,
    &quot;314.3&quot;,
    702.7,
    &quot;44.7%&quot;,
    &quot;-0.4%&quot;
  ],
  [
    &quot;华东&quot;,
    &quot;家居生活馆&quot;,
    &quot;华东&quot;,
    &quot;612.5&quot;,
    &quot;315.6&quot;,
    773.2,
    &quot;40.8%&quot;,
    &quot;-4.3%&quot;
  ],
  [
    &quot;广东&quot;,
    &quot;家居生活馆&quot;,
    &quot;广东&quot;,
    &quot;136.4&quot;,
    &quot;62.5&quot;,
    148.6,
    &quot;42.0%&quot;,
    &quot;-3.1%&quot;
  ],
  [
    &quot;福建&quot;,
    &quot;家居生活馆&quot;,
    &quot;福建&quot;,
    &quot;0.0&quot;,
    &quot;887.5&quot;,
    1811.7,
    &quot;49.0%&quot;,
    &quot;3.8%&quot;
  ]
]</string>
	<key>key</key>
	<string>{
&quot;total&quot;: 13, &quot;curr_page&quot;: 1, &quot;page_size&quot;: 4, &quot;total_page&quot;: 4, &quot;data&quot;: [
{
&quot;id&quot;: 24,
&quot;type&quot;: 2,
&quot;title&quot;: &quot;add test&quot;,
&quot;abstracts&quot;: &quot;&lt;p&gt;\n\t测试草稿and发布\n&lt;/p&gt;\n&lt;p&gt;\n\t&lt;br /&gt;\n&lt;/p&gt;&quot;, &quot;time&quot;: &quot;2017-06-13 10:20:13&quot;,
&quot;see&quot;: true
} ],
&quot;code&quot;: 200 }</string>
</dict>
</plist>
